<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TransactionTable"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\robin\Desktop\Study Material\WinDev\S2\Assignment4\Transaction_App\ASSN4DB.mdf';Integrated Security=True;Encrypt=True"/>
  </connectionStrings>
</configuration>